body {
 margin: 0;
 padding: 0;
  }

#wrap{
background: -moz-linear-gradient(top, #99ccff, white);
background: -webkit-linear-gradient(top, #99ccff, white);
background: linear-gradient( #99ccff, white);
}
#wrap,.skinBody1,.skinBody2,.skinBody3,.skinBody4 {
        position:fixed;
        top:0;
        left:0;
        min-width:100%;
        min-height:100%;
}

.skinBody1{
background: url(../images/awa1.png) repeat 0 0;
}
.skinBody2{
background: url(../images/awa2.png) repeat 0 0;
}
.skinBody3{
background: url(../images/awa3.png) repeat 0 0;
}

#wrapper {
	height: 300px;
	width: 600px;
	margin-top: -150px;
	margin-left: -300px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-color: #FFF;
	opacity:0.8;
	text-align: center;
}